@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/VersionEntities.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Cafe Tech</h1>
    <h3> Tema: Controle de Versão</h3>
    <img src="./img1.jpg">
    
</div>
